@font-face
  font-family 'NotoSerifCJKsc-Regular'
  src url('/fonts/NotoSerifCJKsc-Regular.woff2') format('woff2')
  font-weight normal
  font-style normal

@font-face
  font-family 'SourceHanSansCN-Regular'
  src url('/fonts/SourceHanSansCN-Regular.woff2') format('woff2')
  font-weight normal
  font-style normal

@font-face
  font-family 'JetBrainsMono-Regular'
  src url('/fonts/JetBrainsMono-Regular.woff2') format('woff2')
  font-weight normal
  font-style normal

body
  font-family 'NotoSerifCJKsc-Regular', serif

.edit-link
  font-family 'SourceHanSansCN-Regular'

code
  font-family 'JetBrainsMono-Regular'

a:hover
  text-decoration none !important